body {
  margin: 0;
  background-color: lightslategray;
}

.App {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  background-color: darkslategrey;
  border: 2px solid darkslategrey;
  border-radius: 10px;
}

.Profile {
	color: aliceblue;	
}

.Profile img {
	margin: 0px;	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Profile > figure {
	margin: 0;
}