body {
  margin: 0;
}

div.App {
  font-family: 'Inter', sans-serif;
}

div.Main {
  border-color: coral;
  border-style: solid;
}

nav.Navbar {
  border-color: green;
  border-style: solid;
  display: flex;
}