body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: darkslategrey;
  height: 60px;
  padding: 20px;
}

.nav-logo {
  height: 60px;
  margin-right: 10px;
}

.nav-title {
  margin: 0;
  margin-right: auto;
  font-size: 25px;
  color: whitesmoke;
}

.nav-text {
  margin: 0;
  color: whitesmoke;
}

main {
  padding: 50px 20px;
  background-color: slategray;
  color: white;
  background-image: url(../src/images/react_logo.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.main-title {
  margin: 0px;
  font-size: 30px;
  /* letter-spacing: -0.05em; */
}

.main-list {
  margin-top: 20px;
}

.main-list > li {
  font-size: 15px;
  line-height: 22px;
}

.main-list > li::marker {
  color: aquamarine;
  font-size: 2em;
}
